django==2.2.20
django-cors-headers==3.2.1
django-localflavor==2.2
django-simple-history==2.8.0
djangorestframework==3.11.0
django-filter==2.2.0
djangorestframework-csv==2.1.0
lxml==4.5.0
psycopg2==2.8.4
python-docx==0.8.10
python-magic==0.4.15
python-stdnum==1.13
pytz==2019.3
PyYAML==5.3
six==1.14.0
sqlparse==0.3.0
unicodecsv==0.14.1
uritemplate==3.0.1
